doctype html 
html 
    head 
        title dance academy 
        block scripts 
        block style

          
    body 
         nav#navbar.top
       
            ul
                li #[a(href="/") HOME] 
                li #[a(href="/") ABOUT] 
                li #[a(href="/contact") CONTACT US] 
                li #[a(href="/") SERVICES] 
                li #[a(href="/") CLASS INFO] 
        

        
    block content 
    
       